.form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;

  .change-form {
    cursor: pointer;
    color: #5a5f69;
    text-align: right;
    margin-bottom: 10px;
    font-size: 14px;

    &:hover {
      color: #102840;
    }
  }
}
