.grid-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 80px 1fr;
  gap: 0px 0px;
  grid-template-areas:
    "card-page-header"
    "card-page-contents";
  // overflow-y: hidden;

  .card-page-header {
    grid-area: card-page-header;
  }

  .card-page-contents {
    height: 250px;
    grid-area: card-page-contents;
    display: flex;
    justify-content: center;
    height: 91vh;
    overflow: auto;
    flex-wrap: wrap;
    align-content: flex-start;
    .card-page-card-container {
      position: relative;
      height: 250px;
      margin: 20px;

      &:hover + .favourite-button {
        display: block;
      }
    }
    .favourite-button {
      display: none;
      position: absolute;
      top: 30px;
      right: 30px;
      background-color: #f1f1f3;
      line-height: 10px;
      padding: 10px 5px;
      font-size: 20px;
      border-radius: 5px;
      box-shadow: 0 0 3px #00000015;
      cursor: pointer;
      &:hover {
        box-shadow: 0 0 3px #00000030;
        display: block;
      }
    }
  }
}
